<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name"/>
            <div class="input-group-append">
                <button class="btn btn-primary ml-3" type="button" (click)="searchByName(name)">
                    Search
                </button>
            </div>
        </div>
        <div class="pagination nav-primary">
            <a (click)="minus()" role="button">«</a>
            <a class="pagination nav-primary" *ngFor="let page of pageArr; let i = index " (click)="searchPage(page,i)"
                [class.active]="i+1 === currentPage" role="button">{{ page }}</a>
            <a (click)="plus()" role="button">»</a>
            <select [(ngModel)]="pageSize" class="pageSize" (change)="searchPageSize()" role="button">
                <option class="" *ngFor="let pageSize of pagesSizeArr" role="button">{{ pageSize }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-5 mx-3" role="button">
        <table class="table table-hover">
            <thead class="grey lighten-1 black-text">
                <tr>
                    <th class=".ml-3" scope="col">№</th>
                    <th class=".ml-3" scope="col">Group</th>
                    <th class=".ml-3" scope="col">Users</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr *ngFor="let group of allGroupsRows let i = index" [class.active]="i == currentIndex"
                    routerLink="/groups/{{ group.id }}">
                    <td class=".ml-3 align-middle">{{ i+1 }}</td>
                    <td class=".ml-3 align-middle">{{ group.name }}</td>
                    <td class=".ml-3 align-middle">{{ group.users.length}}</td>
            </tbody>

        </table>
        <p *ngIf="this.count==0" class="text-center">No groups found</p>
    </div>
</div>
