<h2 class="display-6 text-center">My Users</h2>

<div>
    <label>User name:
        <input class="form-control" #userName />
    </label>
    <button type="button" class="btn button btn-light" (click)="add(userName.value); userName.value=''">add</button>

</div>

<ul class="users">
    <li *ngFor="let user of users">
        <a routerLink="/detail/{{user.id}}">
            <span class="badge">{{user.id}}</span> {{user.name}} {{user.profession}}
        </a>
        <button class="btn btn-light delete" title="delete user" (click)="delete(user)">x</button>
    </li>
</ul>